# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
data/frame_actions/*
data/keypoints/*
data/normalized_samples/*
data/raw_videos/*
models/checkpoints/*
models/trained_models/*
logs/*
outputs/*
!data/frame_actions/.gitkeep
!data/keypoints/.gitkeep
!data/normalized_samples/.gitkeep
!data/raw_videos/.gitkeep
!models/checkpoints/.gitkeep
!models/trained_models/.gitkeep
!logs/api_logs/.gitkeep
!logs/training_logs/.gitkeep
!outputs/.gitkeep
